<div class="section" layout="row">
  <div flex>
    <div class="myImg">
      <img src="images/mayor.jpg" alt="mayor" class="face" id="me">
    </div> 
  </div>

  <div flex>
    <h2>Hi, my name is Falade Ayodeji Mayowa</h2>
      <p>I am a software developer at Andela.<br>
      I enjoy building web applications and I derive joy facing new challenges.
    </p>

    <h2>Facts about me</h2>
      <p>I'm from Ekiti state</p>
      <p>Asides from playing around with my computer, I enjoy playing musical instruments too. (My fav two is the keyboard and the guitar)</p>

    <h2>Skill set:</h2>

      <div layout="row">
        <div flex>
          <p>HTML</p>
          <p>CSS</p>
          <p>Vanilla Javascript</p>
        </div>
        <div flex>
          <p>JQuery</p>
          <p>Ajax</p>            
          <p>AngularJS</p>
        </div>
      </div>
  </div>
</div>






