<div class="section">  
  <p>If you have a project you want me to work on for you or you wanna know some more about me, do not hestitate to get in touch.</p>

  <p>Email: mayowa.falade@andela.co</p>
  <p>PhoneNumber: 08037219945</p>
  <p>Address: Lagos Nigeria.</p><br>


  <h2>Leave a feedback</h2>
  <div class="contact">
    <md-content class="md-padding">
      <md-input-container md-no-float>
      <div layout="row">
        <img ng-src="images/prsn.png" flex>
        <input ng-model="user.name" type="text" placeholder="Name" flex>        
      </div>
      </md-input-container>
      <md-input-container md-no-float>
      <div layout="row">
        <img ng-src="images/phone.svg" flex>
        <input ng-model="user.phone" type="text" placeholder="Phone Number" flex>        
      </div>
      </md-input-container>
      <md-input-container md-no-float>
      <div layout="row">
        <img ng-src="images/email.png" flex>
        <input ng-model="user.email" type="email" placeholder="Email" flex>        
      </div>
      </md-input-container>
      <md-input-container md-no-float>
      <div layout="row">
        <img ng-src="images/feedbk.png" flex>
        <input ng-model="user.address" type="text" placeholder="Feedback" flex>       
      </div>

      </md-input-container>
    </md-content>    
  </div>
</div>


