  

  <div class="fancy md-toolbar">
  <h1 layout="row" layout-align="center center" class="name">Falade Ayodeji Mayowa</h1>
  </div>

  <md-card class="body">
  <div layout="row" layout-align="center center">
    <h2><blockquote> &ldquo; When you are loaded, you will be needed..&rdquo; 
    </blockquote></h2><br>
    <p> - Anonymous</p>   
  </div>

  <div layout="row" layout-align="center center"> <h1>Key feature of my apps</h1></div>

    <md-grid-list
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12x" md-gutter-gt-sm="50px" style="margin-top: 30px">

       <md-grid-tile class="icons" md-rowspan="2" md-colspan="2">
       <div layout="column" layout-align="center center" >
         <img src="images/resp.png">        
         <h1>Responsive designs</h1>
       </div>
      </md-grid-tile> 

      </md-grid-tile>
         <md-grid-tile class="icons" md-rowspan="2" md-colspan="2">
         <div layout="column" layout-align="center center">
           <img src="images/code.png">         
           <h1>Sexy code</h1>
       </div>
        </md-grid-tile> 
  
      <md-grid-tile class="icons" md-rowspan="2" md-colspan="2">
      <div layout="column" layout-align="center center">
        <img src="images/favicon.png">         
        <h1>Pleasing  images</h1>
       </div>
        </md-grid-tile> 
    

  </md-card>
  <div layout="column">
      
  </div>
