<div class="section">
  <md-grid-list
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12x" md-gutter-gt-sm="50px" style="margin-top: 30px">

    <a target="_blank" href="http://andela-mfalade.github.io/hotspot"><md-grid-tile class="gray" md-rowspan="2" md-colspan="2">
    <img src="images/hotspt.png" class="projectImgs">
      <md-grid-tile-footer class="ftr">
        <h3>Hotel spot App</h3>
      </md-grid-tile-footer>
    </md-grid-tile> </a>

    </md-grid-tile>
       <a target="_blank" href="http://andela-mfalade.github.io/HotOrCold"><md-grid-tile class="gray" md-rowspan="2" md-colspan="2">
       <img src="images/hot.png" class="projectImgs">
      <md-grid-tile-footer class="ftr">
        <h3>Huckle Buckle app</h3>
      </md-grid-tile-footer>
      </md-grid-tile> </a>

    </md-grid-tile>
       <a target="_blank" href="http://andela-mfalade.github.io/GitProfiler"><md-grid-tile class="gray" md-rowspan="2" md-colspan="2">
       <img src="images/gitproo.png" class="projectImgs">
      <md-grid-tile-footer class="ftr">
        <h3>Git profile information app</h3>  
      </md-grid-tile-footer>
      </md-grid-tile> </a>

    </md-grid-tile>
       <a target="_blank" href="http://andela-mfalade.github.io/ProjectChart"><md-grid-tile class="gray" md-rowspan="2" md-colspan="2">
       <img src="images/prochartpie.png" class="projectImgs">
      <md-grid-tile-footer class="ftr">
        <h3>Project contributors chart app</h3>
      </md-grid-tile-footer>
      </md-grid-tile> </a>

    <a target="_blank" href="http://andela-mfalade.github.io/FroggerGame"><md-grid-tile class="gray" md-rowspan="2" md-colspan="2">
    <img src="images/frogger.png" class="projectImgs">
      <md-grid-tile-footer class="ftr">
        <h3>Frogger game App</h3>
      </md-grid-tile-footer>
      </md-grid-tile> </a>

    </md-grid-tile>
       <a target="_blank" href="http://andela-mfalade.github.io/ShoppingApp"><md-grid-tile class="gray" md-rowspan="2" md-colspan="2">
       <img src="images/shoppingapp.png" class="projectImgs">
      <md-grid-tile-footer class="ftr">
        <h3>Git profile information app</h3>
      </md-grid-tile-footer>
      </md-grid-tile> </a>

  </md-grid-list>
</div>